* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*color: #FF67RR */
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    font-style: italic;
}

a {
    text-decoration: none;
    font-weight: 700;
}

body {
    /* background-image: url(./pexels-zaksheuskaya-1561020.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: cover; */

    background: linear-gradient(90deg, #FFFFFF, #FC67FA);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 10px #FC67FA;
}

header img {
    width: 150px;
    padding-top: 20px;
}

header ul {
    display: flex;
    justify-content: space-around;
}

header ul li {
    padding: 10px;
    border-bottom: 1px dashed #FFFFFF;
}

.container {
    text-align: center;
}

.container .name h1 {
    font-size: 60px;
}

.container .name h5 {
    font-size: 25px;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
}

.form {
    width: 40%;
    margin: 0 auto;
    /* border: thick double #FFFFFF; */
}

.form input {
    width: 50%;
}

.form button {
    width: 15%;
}

